* {
  box-sizing: border-box;
}

body {
  background-color: #f9f5f8e9;
  color: #060606;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10;
}
.seat {
  background-color: #0214db6e;
  height: 40px;
  width: 42px;
  margin: 5px;
  font-size: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: px;
}

.seat.sold {
  background-color: #be0000;
}
.showcase {
  padding: 5px 10px;
  color:rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 30px;
}

.row {
  display: flex;
}

.screen {
  background-color: #ebf679;
  height: 150px;
  width: 100%;
  border-style: solid;
  border-color: rgb(14, 1, 89);
  border-width: 10px;
  margin: 20px 0;
  transform: translate3d();
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 10px 0;
}

p.text span{
    color: rgb(225, 250, 62);
}